# 忽略GraduationDesign目录下的.idea文件夹
/.idea/*

# 忽略一级模块下的__pycache__/目录
*/__pycache__/

# 忽略二级模块下的__pycache__/目录
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/


# 忽略java工作空间的target/ .idea/
/service_module/target/
/service_module/.idea/
/service_module/*.iml
/service_module/lib/
/service_module/out/
/service_module/classes/
/service_module/web/js/plugins/

#忽略echarts.js文件
/front_module/js/echarts.js

